{% include head.html %}

  <div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      
          <div id="contact" class="section scrollspy">
            <h3 style="text-align:center;" class="purple-text text-lighten-5 jlshadow">Contact</h3>
            {% include contact.html %}
          </div>
      
    </div>
    <!-- <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Unsplashed background img 1"></div> -->
  </div>
</div>
